.webenology-modal-header {
  padding: 15px !important;
  align-items: center;
  display: flex;
}
.webenology-modal-header .webenology-modal-title {
  line-height: 1.2;
  flex: 1;
}
.webenology-modal-header .webenology-modal-title .webenology-subheading {
  font-size: 12px;
  display: block;
  color: #777;
}
.webenology-modal-header .webenology-close {
  cursor: pointer;
  color: #bbb;
  justify-self: baseline;
  align-self: baseline;
}
.webenology-modal-header .webenology-close i {
  font-size: 1.7em;
}
.webenology-modal-header .webenology-close:hover {
  color: #777;
}