@namespace webenology.blazor.components

<div class="@Modal.Style.ModalBodyCss">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [CascadingParameter]
    public Modal Modal { get; set; }

    protected override void OnInitialized()
    {
        this.IfNullThrow(Modal);
        base.OnInitialized();
    }

}