@page "/login"
@model webenology.blazor.ss.authentication.Pages.LoginModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model._options.Title</title>
</head>
<body>
    you are at the login page
</body>
</html>
