@namespace webenology.blazor.components

@if (Tabs.ActivePage == this)
{
    <div class="@Tabs.Style.TabPaneCss">
        <div class="@Tabs.Style.TabBodyCss">
            @ChildContent
        </div>
    </div>
}
