.flatpickr-input[readonly] {
  background-color: #fff !important;
}
.flatpickr-input[disabled] {
  background-color: #dfdfdf !important;
}
.form-error {
  border: 1px solid red;
  border-right: none;
}
.error-icon-holder {
  border: 1px solid red;
  border-left: none;
}
.error-icon-holder:not(:last-child) {
  border-right: none;
}
.error-icon-holder i {
  color: red;
}
.link {
  cursor: pointer;
}
.webenology-error {
  color: red;
  font-size: 0.85em;
}
