
.flatpickr-input[readonly] {
    background-color: #fff;
}

.form-error {
    border: 1px solid red;
    border-right: none;
}

.error-icon-holder {
    border: 1px solid red;
    border-left: none;

    &:not(:last-child) {
        border-right: none;
    }

    i {
        color: red;
    }
}

.link {
    cursor: pointer;
}

.webenology-error {
    color: red;
    font-size: .85em;
}
