@namespace webenology.blazor.components

<button @onclick=OnClick @attributes="Attributes" class="@GetCss()">
    @if (ChildContent == null)
    {
        @Text
    }
    else
    {
        @ChildContent
    }
</button>