@page "/counter"
@using System.Security.AccessControl

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<div class="d-flex justify-content-around">
@*     <DatePicker @bind-Date="_date" MinDate="_minDate" MaxDate="_maxDate" EnableTime="true"></DatePicker>
 *@    <div style="width: 25px;height:20px" class="bg-danger"></div>
    @* <DatePicker @bind-Date="_timeOnly" DateType="DatePickerType.TimeOnly"></DatePicker> *@

</div>

@code {
    private int currentCount = 0;
    private DateTime _date { get; set; } = DateTime.Now.AddDays(-1);
    private DateTime _timeOnly { get; set; } = DateTime.Now;
    private DateTime? _minDate = DateTime.Now.AddDays(-2);
    private DateTime? _maxDate;

    private List<string> comboBoxItems = new();
    private string _selectedItem { get; set; } = "100";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            // for (int i = 0; i < 9999; i++)
            // {
            //     comboBoxItems.Add(i.ToString("0000"));
            // }
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }

    private void IncrementCount()
    {
        _minDate = DateTime.Now.AddDays(currentCount * -1);
        _maxDate = DateTime.Now.AddDays(currentCount);
        currentCount++;
    }
}
