@namespace webenology.blazor.components
<CascadingValue Value="this">

    @if (AllowSelectAll)
    {
        <label class="@CssStyle.LinkCss" @onclick="ToggleAll">
            @if (_toggleAll)
            {
                <i class="@CssStyle.SelectAllCheckedCss" style="margin-right: 0.5em;"></i>
                <text>Unselect All</text>
            }
            else
            {
                <i class="@CssStyle.SelectAllUncheckedCss" style="margin-right: 0.5em"></i>
                <text>Select All</text>
            }
        </label>
    }
    <TreeViewItem TreeNodes="TreeNodes" CssStyle="CssStyle"></TreeViewItem>
</CascadingValue>

