.form-error {
    color: red;
    font-size: 0.85em;
}

.form-control.error {
    border: 1px solid red;
    border-right: none;
}

.input-group-text.error {
    border: 1px solid red;
    background-color: white;
    color: red;
    border-left: none;
}
