@namespace webenology.blazor.components.NotificationComponent

<CascadingValue Value="this">
    <div class="@CssStyle.NotificationContainerCss @CssStyle.NotificationContainerFlipCss">
        @foreach (var i in Items)
        {
            <NotificationItem Model="i" @key="i"></NotificationItem>
        }
    </div>
    @ChildContent
</CascadingValue>