.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

    .backdrop.hidden {
        display: none;
    }

    .backdrop .card {
        min-width: 300px;
    }

.text-right {
    text-align: right;
}

.bounce-in {
    animation: bounce-in 0.3s cubic-bezier(0.4, 0, 0.6, 1);
    animation-iteration-count: 1;
}

@keyframes bounce-in {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}
